body {
  margin: auto;
  background-color: #F4D03F;
}

img {
  max-height: 60vh;
  width: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
  border-width: 10px;
  border-color: #FFA400;
  border-style: solid;
}

h1 {
  font-family: 'Barrio', cursive;
  font-size: 48px;
  text-align: center;
  color: #FFA400;
}

.label {
  font-family: 'Barrio', cursive;
  font-size: 48px;
  text-align: center;
  color: #FFA400;
  padding-left: 40vw;
}

.label:after{
    content:'Danke!';
}
.label:hover:after{
    content:'Thank You!';
}
